<style>
    /* Overwrite CSS variable */
    :root {
        /* --article-font-family: "JetBrains Mono", var(--base-font-family); */
        --code-font-family: "JetBrains Mono";
    }

code{
    font-size: 1.4rem;
}
pre{
    font-size: 1.4rem;
}
</style>

<script>
    (function () {
        const customFont = document.createElement('link');
        customFont.href = "https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@300;700&display=swap";
    
        customFont.type = "text/css";
        customFont.rel = "stylesheet";
    
        document.head.appendChild(customFont);
    }());
</script>